<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>forbidden</filter-name>
    <filter-class>com.satyla.hello.ForbiddenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>forbidden</filter-name>
    <servlet-name>mySecondServlet</servlet-name>
  </filter-mapping>

  <servlet>
    <servlet-name>mySecondServlet</servlet-name>
    <servlet-class>com.satyla.hello.RateForDateUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mySecondServlet</servlet-name>
    <url-pattern>/date</url-pattern>
  </servlet-mapping>


</web-app>
